<div id="column-login" class="column"><div class="column-inner">
	<form id="form-login" class="form-account" action="" method="">
		<h4>Вход</h4>
		<label for="singinLogin">Логин</label>
		<div class="clearfix" style="margin-bottom:10px;">
			<input type="text" id="singinLogin" /><span class="help-block">Ваш email, указанный при регистрации</span>
		</div>
		<label for="singinPassword">Пароль</label>
		<div class="clearfix">
			<input type="text" id="singinPassword" /><span class="help-block"><strong>Забыли пароль?</strong> Оставьте это поле пустым и мы вышлем ссылку на смену пароля на ваш email.</span>
		</div>
		<div class="clearfix" style="margin-top:10px;">
			<div style="float:left;"><button type="submit" class="btn btn-submit btn-large btn-success">Войти</button></div>
			<div style="float:left; font-size:12px; margin-left:20px;">Еще не зарегистрированы?<br /><a href="/content/account.html" class="">Создать аккаунт</a></div>
		</div>
	</form>
	<h4 style="text-align:center;">или</h4>
	<p>Войдите используя:</p>
	<ul class="thumbnails">
		<li><a href="#" class="thumbnail"><img src="/img/providers-01.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-02.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-03.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-04.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-05.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-06.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-07.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-08.png" alt="" /></a></li>
		<li><a href="#" class="thumbnail"><img src="/img/providers-09.png" alt="" /></a></li>
	</ul>
</div></div>