<h3 class="page-title" style="text-align:center;">Праздник</h3>
<div style="text-align:center;"><img src="/img/bomba-icon-02.png" alt="" /></div>
<h4 style="text-align:center; line-height:24px; font-weight:normal; margin-bottom:30px;">
	У тебя есть друг и ты, как обычно,<br />
	думаешь что подарить ему в этом году на День Рождения?
</h4>
<p>
	Вариантов много – от недорогих безделушек до безделушек дорогих. 
	Признайся, по-настоящему удивить кого-то сейчас очень трудно, 
	почти невозможно.. НО! 
</p>
<p>
	Представь, что в день рождения ты звонишь имениннику и вместо 
	обычного поздравления говоришь, что о сегодняшнем празднике и 
	о человеке, который его отмечает, знают сотни людей со всей страны! 
	Мало того, все эти люди непременно поздравят именинника, потому 
	что не поздравить в такой чудесный день такого замечательного 
	человека просто невозможно! и все благодаря тебе :) 
	Далее начинается фантастика:
</p>
<p>
	На телефон именинника с абсолютно разных и до этого неизвестных 
	номеров приходят поздравления, при этом в каждом сообщении совершенно 
	точно указано имя именинника - ошибки или случайного совпадения быть 
	не может! Именинник не верит своему счастью, он в полном восторге, 
	ведь о таком подарке он и мечтать не мог :)
</p>
<div id="solution-2" style="text-align:center">
	<div class="btn btn-large btn-success" style="font-size:18px; padding:6px 24px; margin-top:20px; margin-bottom:10px;">
		Взорвать!
	</div>
</div>