<h3 class="page-title" style="text-align:center;">Любовь</h3>
<div style="text-align:center;"><img src="/img/bomba-icon-01.png" alt="" /></div>
<h4 style="text-align:center; line-height:24px; font-weight:normal; margin-bottom:30px;">
	У тебя есть вторая половинка?<br/>
	Есть, но она еще не в курсе?:)<br/>
	Не медли, скажи ей нужные слова!
</h4>
<p>
	Но как? Понятно, что для признания необходимо что то особенное: 
	Ужин в ресторане? - банально. Кино на последнем ряду? - пошло. 
	Серенада и стихи? - отлично, но этим уже вряд ли удивишь...
</p>
<p>
	Только представь, если о том, как тебе дорог человек скажут 
	десятки, сотни людей! Смс со словами о том, как тебе важно 
	внимание именно этого человека будут приходить со всей России, 
	от совершенно разных, даже не знакомых людей! Стоит ли 
	сомневаться в том, как обрадуется девушка, которая узнает, что 
	ты собрал такое количество людей только для того, что бы 
	сказать ей самые важные, сокровенные слова.
</p>
<div id="solution-1-ajax" style="text-align:center">
	<a class="btn btn-large btn-success" style="font-size:18px; padding:6px 24px; margin-top:20px; margin-bottom:10px;">
		Взорвать!
	</a>
</div>