<h3 class="page-title" style="text-align:center;">Розыгрыш</h3>
<div style="text-align:center;"><img src="/img/bomba-icon-04.png" alt="" /></div>
<h4 style="text-align:center; line-height:24px; font-weight:normal; margin-bottom:30px;">
	Хочешь разыграть друга?<br />
	Организуй массовую атаку его телефона!<br />
	Поверь, он запомнит это на долго;)
</h4>
<p>
	Хочешь проучить друга? Вот 100% вариант! На следующий день после 
	веселого застолья он получит десятки смс-сообщений от восторженных 
	подруг со всей России. Самое интересное, что номера ему будут 
	незнакомы, а в подписи всегда будут разные женские имена.
</p>
<p>
	Для тех, кто любит жесткие розыгрыши можно организовать сообщения, 
	где в подписях будут фигурировать имена мужские. Так, или иначе, 
	жертва будет в полном недоумении до тех пор, пока ему не расскажут 
	о вашем коварном замысле;)
</p>
<div id="solution-1" style="text-align:center">
	<div class="btn btn-large btn-success" style="font-size:18px; padding:6px 24px; margin-top:20px; margin-bottom:10px;">
		Взорвать!
	</div>
</div>