<h3 class="title">Форма создания рассылки</h3>
<form id="smsForm" class="form-horizontal" action="" method="">
	<div class="control-group">
		<label class="control-label" for="senderName">Моё имя:</label>
		<div class="controls">
			<input type="text" id="senderName" class="input-xlarge" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="recipientName">Имя получателя:</label>
		<div class="controls">
			<input type="text" id="recipientName" class="input-xlarge" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="recipientNumber">Номер получателя:</label>
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on">+7</span>
				<input type="text" id="recipientNumber" class="input-xlarge" />
			</div>
			<span class="help-block">Введите 10 цифр номера без 8 или +7 (например 9514558679)</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Пол получателя:</label>
		<div class="controls" id="recipientGender">
			<div class="btn-group" data-toggle="buttons-radio">
				<button type="button" class="btn">Мужчина</button>
				<button type="button" class="btn active">Женщина</button>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">День:</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="sendDate" class="input-medium" />
				<button class="btn" type="button"><i class="icon-calendar"></i></button>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Время:</label>
		<div class="controls">
			c&nbsp;
			<div class="input-append">
				<input type="text" id="sendTimeSince" class="input-mini" value="9:00" />
				<button class="btn" type="button" style="padding:4px 7px;"><i class="icon-plus"></i></button>
				<button class="btn" type="button" style="padding:4px 7px;"><i class="icon-minus"></i></button>
			</div>
			&nbsp;до&nbsp;
			<div class="input-append">
				<input type="text" id="sendTimeUtil" class="input-mini" value="23:00" />
				<button class="btn" type="button" style="padding:4px 7px;"><i class="icon-plus"></i></button>
				<button class="btn" type="button" style="padding:4px 7px;"><i class="icon-minus"></i></button>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Тема рассылки:</label>
		<div class="controls">
			<select id="sendCategory">
				<optgroup label="Любовь">
					<option value="love1" selected="selected">Признание</option>
					<option value="love2">Напомнить о чувствах</option>
				</optgroup>
				<optgroup label="Поздравление">
					<option value="congrat1">День рождения</option>
					<option value="congrat2">Покупка авто</option>
					<option value="congrat3">Рождение ребенка</option>
					<option value="congrat4">Годовщина свадьбы</option>
					<option value="congrat5">23 февраля</option>
					<option value="congrat6">8 марта</option>
					<option value="congrat7">Новый Год</option>
				</optgroup>
				<optgroup label="Извинение">
					<option value="sorry1">Извинение</option>
				</optgroup>
				<optgroup label="Розыгрыш">
					<option value="prank1">Розыгрыш</option>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Примеры SMS:</label>
		<div class="controls">
			<div class="well smsbomb-comments jscrollpane">
				<div class="comment">
					<div class="comment-text">
						<p><strong>Имя получателя</strong>, решительно усиливает из ряда вон выходящий имидж <strong>Имя отправителя</strong></p>
					</div>
					<div class="comment-tip"></div>
				</div>
				<div class="comment">
					<div class="comment-text">
						<p><strong>Имя получателя</strong>, что CTR экономит.<br /><strong>Имя отправителя</strong></p>
					</div>
					<div class="comment-tip"></div>
				</div>
				<div class="comment">
					<div class="comment-text">
						<p><strong>Имя получателя</strong> без оглядки на авторитеты решительно <strong>Имя отправителя</strong>.</p>
					</div>
					<div class="comment-tip"></div>
				</div>
				<div class="comment">
					<div class="comment-text">
						<p><strong>Имя получателя</strong>, решительно усиливает из ряда вон выходящий имидж <strong>Имя отправителя</strong></p>
					</div>
					<div class="comment-tip"></div>
				</div>
				<div class="comment">
					<div class="comment-text">
						<p><strong>Имя получателя</strong>, что CTR экономит.<br /><strong>Имя отправителя</strong></p>
					</div>
					<div class="comment-tip"></div>
				</div>
			</div>
			<div class="help-block"><a href="javascript:void(0);" class="btn btn-small"><i class="icon-refresh"></i></a> &nbsp;Обновить список примеров</div>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-large btn-success">Перейти к оплате</button>&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-large" onclick="$('#modal').modal('hide');">Отмена</button>
    </div>
</form>