<h3 class="page-title" style="text-align:center;">Извинение</h3>
<div style="text-align:center;"><img src="/img/bomba-icon-03.png" alt="" /></div>
<h4 style="text-align:center; line-height:24px; font-weight:normal; margin-bottom:30px;">
	С помощью сервиса SMSBomb<br />
	ваши слова дойдут до самого сердца<br /> близкого вам человека.
</h4>
<p>
	В жизни бывает необходимо не только уметь принять ответственность 
	за совершенные поступки, но и во время сказать нужные слова.
</p>
<p>
	С помощью сервиса SMSBomb ваши слова дойдут до самого сердца близкого 
	вам человека. Десятки сообщений со всей страны со словами о том, что 
	Вы действительно раскаялись, растопят любое сердце, и Вы предстанете 
	в совершенно новом свете! Главное – делать правильные выводы и не 
	наступать на одни и те же грабли :)
</p>
<div id="solution-1" style="text-align:center">
	<div class="btn btn-large btn-success" style="font-size:18px; padding:6px 24px; margin-top:20px; margin-bottom:10px;">
		Взорвать!
	</div>
</div>