<h4 class="profile-history-detail-header">Рассылка SB-1380</h4>
<div class="profile-history-details-col1 float">
	<table class="table table-striped">
		<tbody>
			<tr><td>Имя отправителя</td><td class="value"><span>Иван</span></td></tr>
			<tr><td>Имя получателя</td><td class="value"><span>Марья</span></td></tr>
			<tr><td>Номер получателя</td><td class="value"><span>+79514558678</span></td></tr>
			<tr><td>Пол получателя</td><td class="value"><span>Женщина</span></td></tr>
			<tr><td>Дата рассылки</td><td class="value"><span>07.04.2012</span></td></tr>
			<tr><td>Время рассылки</td><td class="value"><span>19:00</span> - <span>21:00</span></td></tr>
			<tr><td>Тема рассылки</td><td class="value"><span class="badge badge-important">Признание</span></td></tr>
		</tbody>
	</table>
</div>
<div class="profile-history-details-col2 float">
	<ul class="thumbnails">
		<li>
			<div class="thumbnail">
				Количество отправленных SMS:
				<div id="profile-history-detail-smscount">100</div>
			</div>
		</li>
	</ul>
</div>